body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
}



header h1 a{
    color: green;
    text-decoration: none;
}


header p a{
    color: rgb(53, 12, 167);
    text-decoration: none;
}


.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a :hover {
    color: red;
}

